@model IEnumerable<SoccerShoesShop.Models.Cart>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .no-product {
        text-align: center;
        font-size: 1.5rem;
        margin: 300px 0;
        background: #c55353;
    }
</style>
<section class="products" id="products">
    <div class="box-container" style="display: flex;flex-wrap: wrap;">
        @if(Model is null || !(Model.Any()))
        {
            <a class="btn btn-success no-product" href="@Url.Action("Index", "Menu")">Go to shopping</a>
        } else
        {
            @foreach(var cart in Model)
            {
                <div class="box" style="margin-top: 100px;">
                    <div class="image">
                        <img src=@Url.Content($"~{cart.Product.Image}") alt="">
                    </div>
                    <div class="content">
                        <h3>@cart.Product.Name</h3>
                        <div class="price">@cart.Product.SellingPrice</div>
                        <div class="price">@cart.TotalBill</div>
                        <div class="price">
                            <span>Quantities : @cart.Quantity</span>
                        </div>
                        <a class="btn btn-danger" asp-controller="Cart" asp-action="Delete" asp-route-id="@cart.CartId" 
                                style="background: #c55353; display: flex; justify-content: center;align-items: center;">
                            Delete
                        </a>
                    </div>
                </div>
            }
        }
</div>
    @if (Model is not null && Model.Any())
    {
        <div>
            <a class="btn btn-danger" href="@Url.Action("Index", "Menu")"
               style="background: #c55353; display: flex; justify-content: center;align-items: center; width: 200px">
                Go to shopping
            </a>
            <a class="btn btn-danger" asp-controller="Order" asp-action="Checkout"
               style="background: #307b57; display: flex; justify-content: center;align-items: center; width: 200px">
                Checkout
            </a>
            
        </div>
        
    }
</section>